.fixed{
  position: fixed;
  width: 100%;
  left: 0;
  &.bottom{
    bottom: 0;
  }
}

// .vtabs{
//   &-wrap,
//   &-links,
//   &-content{
//     @extend .cf;
//   }
//   &-links{
//     margin-bottom: 15px;
//   }
//   &-list{
//     a{
//       display: block;
//       padding: 10px;
//       @include borderR(5px);
//       background-color: #f0f0f0;
//       text-decoration: none;
//       color: inherit;
      
//     }
//     li{
//       display: inline-block;
//       &.active{
//         a{
//           background-color: setColor(corp);
//         }
//       }
//     }
    
//   }
//   &-content{
//     border: 1px solid #ddd;
//     padding: 30px;
//     &-inner{
//       display: none;
//       &.active{
//         display: block;
//       }
//     }
//   }
// }

.bg{
  &-grey{
    background-color: setColor(black, light);
  }
}
.color{
  &-grey{
    color: #616161;
  }
  &-green{
    color: #38c695;
  }
  &-purple{
    color: #b27cf5;
  }
  &-orange{
    color: #feb960;
  } 
}

.line{
  @extend .relative;
  &:after{
    @extend .pseudo;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
  }
  &-red{
    &:after{
      background-color: #fc5f45;
    }
  }
  &-green{
    &:after{
      background-color: #38c695;
    }
  }
  &-purple{
    &:after{
      background-color: #b27cf5;
    }
  }
  &-orange{
    &:after{
      background-color: #feb960;
    }
  }
  &-wrapper-all{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0;
  }
  &-wrapper-all & {
    width: 25%;
    display: inline-block;
  }
}
.feature{
  background-color: setColor(light);
  text-align: center;
  padding: 30px 15px;
  &-header{
    @extend .vertical-image;
    height: 100px;
  }
  &-body{
    font-size: 15px;
  }
  @include resp-max(md){
    &-wrap{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  @include resp-min(sm){
    min-height: 270px;
    padding: 35px 20px;
    &-body{
      margin-top: 15px;
    }
  }
  @include resp-min(md){
    min-height: 345px;
  }
}
.number{
  @extend .black_font;
  font-size: 200px;
  line-height: 1;

  &-wrap{
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  &-dark{
    color: #f6f6f6;
  }
  &-light{
    color: #f0f0f0;
  }
  @include resp-min(sm){
    font-size: 300px;
    &-big{
      top: -30px; 
    }
  }
}
.about{
  @include resp-min(md){
    padding-top: 85px;
    padding-bottom: 150px;
  }
  &-image{
    font-size: 0;
    img{
      border: 10px solid #cccccc;
    }
  }
  &-text{
    @include shadow(0 0 20px rgba(0,0,0,.05));
    font-size: 15px;
    position: relative;
    padding: 30px 15px;
    background-color: #fff;
    z-index: 1;
    .number-wrap{
      z-index: -1;
      left: 0;
    }
    p{
      text-indent: 15px;
    }
  }
  @include resp-min(sm){
    &-text{
      padding: 65px 10px 15px 107px;
    }
  }
  @include resp-min(md){
    &-text-wrap,
    &-image-wrap{
      padding: 0;
    }
    &-image-wrap{
      left: 25px;
    }
    &-text-wrap{
      top: 27px;
      left: 0;
    }
  }
  @include resp-min(lg){
    &-image{
      img{
        width: 555px;
        max-width: none;
      }
    }
  }
}
.clients{
  @include bg("img/bgCity.jpg", center center, no-repeat, cover);
  @include resp-min(md){
    padding-top: 70px;
    padding-bottom: 41px;
  }
}
.client{
  &-inner{
    @extend .vertical-image;
    height: 250px;
  }
  @include resp-max(md){
    &-inner{
      height: 150px;
      width: 150px;
      margin: 0 auto;
    }
    &-wrap{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    } 
    @include resp-min(sm){
      
    }
  }
}
.service{
  &-wrap{

  }

  &-image{
    font-size: 0;
  }
  &-row{
    @extend .cf;
    
  }
  &-block{
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #FFF;
    @include shadow(0 0 20px rgba(0,0,0,.05));
  }
  &-text{
    font-size: 15px;
    @extend .color-grey;
  }
  &-title{
    font-size: 27px;
    color: #272727;
    @extend .bold_cond;
    margin-bottom: 7.5px;
  }
  &-btn{
    margin-top: 10px;
  }
  &-number{
    font-size: 50px;
    line-height: 1;
    color: #e0e0e0;
    &-inner{
      position: relative;
      display: inline-block;  
      &:after{
        @extend .pseudo;
        width: 100%;
        height: 1px;
        background-color: #e0e0e0;
        top: 100%;
        left: 0;
      }
    }
  }
  @include resp-max(sm){
    &-row{
      text-align: center;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    &-text{
      padding-left: 15px;
      padding-right: 15px;
    }
    &-number{
      padding-bottom: 15px;
    }
    &-list{
      text-align: left;
      margin-top: 10px;
      li{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  @include resp-min(sm){
    &-block{
      padding: 20px 15px 17px 135px;
    }
    &-number{
      position: absolute;
      left: 45px;
      top: 8px;
      &-inner{
        &:after{
          left: -20px;
          top: 50px;
          width: 120px;
          @include transform(rotate(-45deg));
        }
      }
    }
    @include resp-max(md){
      &-row{
        width: 550px;
        margin: 0 auto 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  @include resp-min(md){
    @include resp-max(lg){
      &-image,
      &-block{
        width: 50%;
        float: left;
        min-height: 320px;
      }
      &-block{
        padding: 20px 15px 17px 91px;
      }
      &-number{
        left: 15px;
      }
      &-text{
        font-size: 14px;
      }
      &-image{
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          max-width: none;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      &-row:nth-child(even) &-image{
        float: right;
      }
    }
  }
  @include resp-min(lg){
    &-section{
      padding-bottom: 210px;
    }
    &-image{
      width: 550px;
      margin: 0 auto;
      img{
        height: 300px;
      }
    }
    &-block{
      position: absolute;
      top: -50px;
      
    }
    &-row:nth-child(odd) &-block{
      left: 0;
      width: 497px;
    }
    &-row:nth-child(even) &-block{
      right: 0;
      width: 453px;
    }
    &-row:last-child &-block{
      top: auto;
      bottom: 10px;
    }
    &-row:nth-child(3) &-block{
      top: -140px;
    }
  }
}
.contact{
  &-wrap{
    @include bg("img/bigBg.jpg");
    &-inner{
      background-color: rgba(38,39,50,0.85);
      padding: 60px 15px;
    }
  }
  &-block{
    font-size: 20px;
    a{
      color: #fff;
      @extend .tdn;
    }
  }
  &-logo{
    font-size: 0;
    img{
      max-height: 78px;
    }
  }
  &-title{
    margin-bottom: 10px;
  }
  &-social{
    display: inline-block;
    margin-right: 15px;
    &:last-child{
      margin-right: 0;
    }
    &-inner{
      font-size: 0;
    }
  }
  @include resp-max(sm){
    &-wrap{
      padding-bottom: 0;
      &-inner{
        margin-top: 60px;
      }
    }
    &-block{
      &-wrap{
        margin-bottom: 30px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  @include resp-min(sm){
    &-wrap{
      &-inner{
        margin-top: 150px;
      }
    }
    &-title{
      margin-bottom: 20px;
    }
    @include resp-max(md){
      &-block{
        &-wrap{
          min-height: 140px;
        }
      }
    }
  }
  @include resp-min(lg){
    &-wrap{
      &-inner{
        padding: 60px 45px 80px;
      }
    }
  }
}
%white-bg{
  background-color: rgba(255, 255, 255, 0.66);
}
%image-full{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.loop{
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  &.view-0 &-image, &.view-3 &-image{
    &:after{
      background-color: rgba(128, 128, 128, 0.65);
    }
  }
  
  &.view-1 &-image, &.view-2 &-image{
    &:after{
      @extend %white-bg;
    }
  }
  @at-root{
    %loop-c{
      &-b{
        color: setColor(black);
      }
      &-l{
        color: setColor(light);
      }
    }
  }
  &.view-0, &.view-3{
    @extend %loop-c-l;
    &:hover{
      @extend %loop-c-b;
    }
  }
  &.view-1, &.view-2{
    @extend %loop-c-b;
    &:hover{
      @extend %loop-c-l;
    }
  }
  &.view{
    @extend .line;
    @extend .transition;
    &:before{
      @extend .pseudo;
      @extend .transition;
      @extend %image-full;
    }
    &:after{
      z-index: -1;
      @extend .transition;
    }
    &:hover{
      &:after{
        height: 100%;
      }
    }
  }
  &.view-0{
    @extend .line-red;
    &:before{
      background-image: -webkit-linear-gradient(bottom, rgba(252,95,69,.29), rgba(0,0,0,0));
      background-image: -moz-linear-gradient(bottom, rgba(252,95,69,.29), rgba(0,0,0,0));
      background-image: -o-linear-gradient(bottom, rgba(252,95,69,.29), rgba(0,0,0,0));
      background-image: -ms-linear-gradient(bottom, rgba(252,95,69,.29), rgba(0,0,0,0));
      background-image: linear-gradient(to top, rgba(252,95,69,.29), rgba(0,0,0,0));
    }
    // &:hover{
    //   &:before{
    //     background-image: -webkit-linear-gradient(bottom, rgba(252,95,69,0.5), rgba(0,0,0,0));
    //     background-image: -moz-linear-gradient(bottom, rgba(252,95,69,0.5), rgba(0,0,0,0));
    //     background-image: -o-linear-gradient(bottom, rgba(252,95,69,0.5), rgba(0,0,0,0));
    //     background-image: -ms-linear-gradient(bottom, rgba(252,95,69,0.5), rgba(0,0,0,0));
    //     background-image: linear-gradient(to top, rgba(252,95,69,0.5), rgba(0,0,0,0));
    //   }
    // }
  }
  &.view-1{
    @extend .line-green;
    &:before{
      background-image: -webkit-linear-gradient(bottom, rgba(56,198,149,.29), rgba(0,0,0,0));
      background-image: -moz-linear-gradient(bottom, rgba(56,198,149,.29), rgba(0,0,0,0));
      background-image: -o-linear-gradient(bottom, rgba(56,198,149,.29), rgba(0,0,0,0));
      background-image: -ms-linear-gradient(bottom, rgba(56,198,149,.29), rgba(0,0,0,0));
      background-image: linear-gradient(to top, rgba(56,198,149,.29), rgba(0,0,0,0));
    }
    // &:hover{
    //   &:before{
    //     background-image: -webkit-linear-gradient(bottom, rgba(56,198,149,0.5), rgba(0,0,0,0));
    //     background-image: -moz-linear-gradient(bottom, rgba(56,198,149,0.5), rgba(0,0,0,0));
    //     background-image: -o-linear-gradient(bottom, rgba(56,198,149,0.5), rgba(0,0,0,0));
    //     background-image: -ms-linear-gradient(bottom, rgba(56,198,149,0.5), rgba(0,0,0,0));
    //     background-image: linear-gradient(to top, rgba(56,198,149,0.5), rgba(0,0,0,0));        
    //   }
    // }
  }
  &.view-2{
    @extend .line-purple;
    &:before{
      background-image: -webkit-linear-gradient(bottom, rgba(178,124,245,.18), rgba(0,0,0,0));
      background-image: -moz-linear-gradient(bottom, rgba(178,124,245,.18), rgba(0,0,0,0));
      background-image: -o-linear-gradient(bottom, rgba(178,124,245,.18), rgba(0,0,0,0));
      background-image: -ms-linear-gradient(bottom, rgba(178,124,245,.18), rgba(0,0,0,0));
      background-image: linear-gradient(to top, rgba(178,124,245,.18), rgba(0,0,0,0));
    }
  }
  &.view-3{
    @extend .line-orange;
    &:before{
      background-image: -webkit-linear-gradient(bottom, rgba(254,185,96,.48), rgba(0,0,0,0));
      background-image: -moz-linear-gradient(bottom, rgba(254,185,96,.48), rgba(0,0,0,0));
      background-image: -o-linear-gradient(bottom, rgba(254,185,96,.48), rgba(0,0,0,0));
      background-image: -ms-linear-gradient(bottom, rgba(254,185,96,.48), rgba(0,0,0,0));
      background-image: linear-gradient(to top, rgba(254,185,96,.48), rgba(0,0,0,0));
    }
  }
  &-title{
    display: block;
    overflow: hidden;
    line-height: 1;
    @extend .bold_cond;  
  }
  &-descr{
    display: block;
    overflow: hidden;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.2;
  }
  &-link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    @extend .tdn;
    color: inherit;
  }
  &-image{
    position: absolute;
    @extend %image-full;
    z-index: -1;
    img{
      position: relative;
      z-index: 1;
      max-width: none;
    }
    &:after{
      @extend .pseudo;
      @extend %image-full;
      z-index: 2;
    }
  }
  @include resp-max(xs){
    &-link{
      padding-top: 45px;
      padding-bottom: 45px;
    }
    &-title{
      font-size: 30px;
      margin-bottom: 30px;
    }
  }
  @include resp-max(lg){
    &-image{
      img{
        width: 100%;
      }
    }
    @include resp-min(xs){
      &-link{
        padding-top: 60px;
        padding-bottom: 60px;
      }
      &-title{
        font-size: 45px;
        margin-bottom: 25px;
      }
      &-descr{
        font-size: 25px;
      }
    }
  }
  @include resp-min(lg){
    width: 50%;
    &-link{
      padding-top: 70px;
      padding-bottom: 70px;
    }
    &-title{
      font-size: 50px;
      margin-bottom: 50px;
      height: 54px;
    }
    &-descr{
      font-size: 25px;
      height: 125px;
    }
  }
  @media (min-width: 1500px){
    min-height: 560px;
    &-link{
      padding-top: 120px;
      padding-bottom: 120px;
    }
    &-title{
      font-size: 72px;
      margin-bottom: 70px;
      height: 70px; 
    }
    &-descr{
      font-size: 37px;
      height: 180px;
    }    
  }
}

.entry{
  &-header{
    z-index: 1;
    margin-bottom: 30px;
    @extend .relative;
    &-thumb{
      position: absolute;
      z-index: -1;
      @extend %image-full;
      img{
        width: 100%;
        height: 100%;
      }
      &:after{
        @extend .pseudo;
        @extend %image-full;
        @extend %white-bg;
      }
    }
  }
  &-title{
    @extend .ttu;
    @extend .text-center;
    @extend .bold_cond;
    line-height: 1.2;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
  }
  &-content{
    font-size: 16px;
    color: #616161;
    padding-bottom: 100px;
    p{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    img{
      border: 10px solid #cccccc;
    }
  }
  @include resp-max(lg){
    &-header{
      padding-top: 75px;
      padding-bottom: 75px;
    }
    @include resp-min(xs){
      &-title{
        font-size: 50px;
      }
    }
  }
  @include resp-min(lg){
    &-header{
      padding-top: 150px;
      padding-bottom: 150px;
      margin-bottom: 45px;
    }
    &-title{
      font-size: 60px;
    }
  }
  @media (min-width: 1500px){
    &-header{
      min-height: 760px;
      padding-top: 150px;
      margin-bottom: 90px;
    }
  }
}